.d1-proposta{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:20px;

  background-color: var(--preto);
}

.fundo-titulo-proposta{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.titulo-proposta{
  font-size: 37px;
  font-family: var(--font1);
  color: var(--branco);
}

.palito-proposta{
  background-color: var(--rosa);
  width: 200px;
  height: 8px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px var(--preto);
}

.texto-proposta{
  font-size: 22px;
  font-family: var(--font2);
  color: var(--branco);
  text-align: justify;
}

.conteudos-propostas{
  position: relative;
  right: 25px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-proposta{
  box-shadow: 6px 6px 0px var(--rosa);
}

.container-proposta {
  position: relative;
  overflow: hidden;
  width: 80%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.videoshadow{
  box-shadow:6px 6px 0px var(--rosa);
}
