@import url('https://fonts.googleapis.com/css?family=Podkova:regular,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Poly:regular,italic');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}


:root {
    --preto: #2e2e2d;
    --rosa: #d12128;
    --branco: #E8E8E3;
    --font1: 'Podkova';
    --font2: 'Montserrat';
    --font3: 'Poppins';
}

/* Header */

#header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--preto);
    z-index: +1;
    height: 80px;
    position: sticky;
}

#menu {
    display: none;
    flex-direction: column;
    position: sticky;
    top: 80px;
    width: 100%;
    left: 0;
    padding: 20px;
    background-color: var(--preto);
    align-items: center;
    justify-content: center;
    transition: .6s;
    z-index: +1;
    gap: 20px;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.item-d {
    font-family: var(--font3);
    font-size: 25px;
    padding: 10px;
    list-style-type: none;
}

.item-m {
    font-family: var(--font3);
    font-size: 25px;
    padding: 10px;
    list-style-type: none;
}

.ancora {
    color: var(--branco);
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* rodape */
.rodape{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	background-color: var(--rosa);
	padding: 20px;
}

.lista-footer{
	list-style-type: none;
	display: flex;
	flex-flow: column nowrap;
	gap: 20px;
}

.item-footer{
	color: white;
	font-family: var(--font2);
	font-weight: 600;
}

.redes{
	display: flex;
	align-items: center;
	gap: 10px;
}

#icon-footer{
	width: 160px;
}



.titulo {
    font-size: 37px;
    font-family: var(--font1);
    color: var(--branco);
}

.frase {
    font-size: 22px;
    font-family: var(--font2);
    color: var(--branco);
}

.info {
    font-size: 20px;
    font-family: var(--font3);
}

#d1 {
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column nowrap;

    padding: 15px;

    width: 100%;
    height: 100vh;

}

.scroll-d1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    animation: pulsar 3s infinite;

}

#icon-d1 {
    width: 50px;
    animation: pulsar 3s infinite;

}


#logo-w-d1 {
    width: 606px;
}

#logo-w-d2 {
    width: 160px;
}

.d2 {
    padding: 80px;
    background-image: url(./imgs/Funo.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon-d2 {
    display: none;
    width: 50px;
    transition: .6s;
}

#icon-d2:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.div1-d2 {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    gap: 50px;
}

.frase-d2 {
    font-size: 22px;
    font-family: var(--font2);
    color: var(--branco);
}

#palito-d2{
    background-color: var(--branco);
    width: 200px;
    height: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px var(--preto);
}

.botao-d2 {
    padding: 20px;
    width: 220px;
    border: none;
    border-radius: 20px;
    color: var(--branco);
    background-color: var(--preto);
    font-family: var(--font3);
    font-size: 20px;
    transition: .6s;
    box-shadow: 1px 1px 5px var(--preto);
}

.botao-d2:hover {
    transform: translateY(-15px);
    opacity: .95;
    cursor: pointer;
}

.d3 {
    display: flex;
}

#paulofreire-d3 {
    max-width: 600px;
    object-fit: cover;
}


.div1-d3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
    background-color: var(--preto);
}

.titulo-d3 {
    font-size: 37px;
    font-family: var(--font1);
    color: var(--branco);
}

.frase-d3 {
    font-size: 22px;
    font-family: var(--font2);
    color: var(--branco);
}

#palito-d3 {
    background-color: var(--rosa);
    margin: 10px;
    width: 170px;
    height: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px solid black;
}

.d4{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-top: 8px solid var(--branco);
    background-color: var(--preto);
    padding: 0px 0px 40px 0px;
}
.div-texto-d4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 20px 0px 40px 0px;
    gap: 10px;
}

.info-d4{
    font-family: var(--font3);
    font-size: 22px;
    color: white;
}

.cards-d4{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    align-items: center;
}
.lista-d4{
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.item-d4{
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--rosa);
    padding: 20px;
    width: 332px;
    height: 384px;
    border-radius: 20px;
    transition: .6s;
    opacity: .8;
}

.item-d4:hover{
    opacity: 1;
}   

.number-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--branco);
    font-family: var(--font1);
    font-size: 50px;
}

.titulo-card-d4{
    font-family: var(--font1);
    font-size: 30px;
    color: var(--branco);
    margin-top: 10px;
    hyphens: auto;
    word-wrap: break-word;
}

.texto-card-d4{
    font-family: var(--font2);
    font-size: 22px;
    color: var(--branco);
    margin: 10px;
}

.titulo-d4{

    font-size: 37px;
    font-family: var(--font1);
    color: var(--branco);
}

.barra-d4{
    background-color: var(--preto);
    width: 40%;
    height: 8px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    border: none;
}




@keyframes pulsar {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:900px) {
    #icon-d2{
        display: flex;
    }

    .item-d{
        display: none;
    }

    
}

@media  screen and (max-width:940px) and (min-width:599px) {
    .d3{
        flex-flow: column ;
    }
    #paulofreire-d3 {
        width: 100vw;
        max-width: 100vw;
    }
    
}


@media screen and (max-width:600px) {

    #logo-w-d1 {
        width: 350px;
    }

    .titulo {
        /* font-size: 40px; */
        font-size: 36px;
    }


    .d3 {
        flex-flow: column;
    }

    .d2{
        padding: 30px;
    }

    .titulo{
        text-align: center;
    }

    .lista {
        flex-direction: column;
        align-items: center;
    }

    #icon-d2{
        display: flex;
    }
    

    .item-d{
        font-size: 18px;
        list-style-type: none;
    }
}

@media screen and (min-width: 800px) {
    .item-d4:hover{
        transform: translateY(-10px);
    }
}
